<%- include("header") -%>
    <h2>This is the about page of valiantlynx</h2>

    <p>It was made by the great valiantlynx while he was contemplating on adding his name variant as variantlynx</p>

    <%- include("footer") -%>